<div class="container">
  <div id="wrapper">
    <div class="question">
      <h1 class="title">「眼トレ・メントレ・脳トレ」かんたん診断</h1>
      <ul class="questions">
        <li class="textBox">
          <span class="text">Q1. 暗記科目が苦手だ</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeA" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>  
        </li>
        <li class="textBox">
          <span class="text">Q2. 昨日の晩御飯が思い出せないことがある</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeA" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>  
        </li>
        <li class="textBox">
          <span class="text">Q3. 高校時代の修学旅行先を思い出すのに時間がかかる</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeA" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>  
        </li>
        <li class="textBox">
          <span class="text">Q4. 学生時代の給食にはどんなメニューがあったか思い出すことが困難である</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeA" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>  
        </li>
        <li class="textBox">
          <span class="text">Q5. 学生時代の友達とハマっていた遊び・事柄を思い出すことが難しい</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeA" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>  
        </li>
        <li class="textBox">
          <span class="text">Q6. スケジューリングが苦手だ</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeB" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>  
        </li>
        <li class="textBox">
          <span class="text">Q7. 将来像をイメージするのが苦手だ</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeB" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>  
        </li>
        <li class="textBox">
          <span class="text">Q8. 創造力は無い方だと思う</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeB" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>  
        </li>
        <li class="textBox">
          <span class="text">Q9. 物事をアレンジするのは不得意である</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeB" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>  
        </li>
        <li class="textBox">
          <span class="text">Q10. 友達や同僚に本当のことを言えないことがある</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeB" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>  
        </li>
        <li class="textBox">
          <span class="text">Q11. 会話の内容が思い出せないことがよくある</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeC" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>  
        </li>
        <li class="textBox">
          <span class="text">Q12. 何回同じこと言わすの？と言われたことがある</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeC" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>  
        </li>
        <li class="textBox">
          <span class="text">Q13. 校歌のリズムを思い出すのに時間がかかる</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeC" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>  
        </li>
        <li class="textBox">
          <span class="text">Q14. 擬音語を使うことが多い</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeC" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>  
        </li>
        <li class="textBox">
          <span class="text">Q15. どちらかというと新曲を覚えるのは苦手である</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeC" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>  
        </li>
        <li class="textBox">
          <span class="text">Q16. 学校のチャイムがエレキギターだったら？など想像する事が苦手だ</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeD" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>  
        </li>
        <li class="textBox">
          <span class="text">Q17. 音でびっくりする事が多い</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeD" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>
        </li>
        <li class="textBox">
          <span class="text">Q18. 即興で替え歌を作るのは難しい</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeD" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>
        </li>
        <li class="textBox">
          <span class="text">Q19. 言葉の裏を読み取るのが難しい</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeD" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>
        </li>
        <li class="textBox">
          <span class="text">Q20. 自分のテーマソングを作るとなったら、どんな感じかなかなか思い浮かばない</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeD" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>
        </li>
        <li class="textBox">
          <span class="text">Q21. 何度も同じ言葉を繰り返して言ってしまう傾向がある</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeE" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>
        </li>
        <li class="textBox">
          <span class="text">Q22. 心の中で独り言をよく言っている</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeE" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>
        </li>
        <li class="textBox">
          <span class="text">Q23. 自分との対話（内省）が苦手である</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeE" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>
        </li>
        <li class="textBox">
          <span class="text">Q24. 同じ失敗をよくすることがある</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeE" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>
        </li>
        <li class="textBox">
          <span class="text">Q25. 前回の失敗から学んで次に生かすことが苦手である</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeE" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>
        </li>
        <li class="textBox">
          <span class="text">Q26. どちらかというとゆっくり話すタイプである</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeF" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>
        </li>
        <li class="textBox">
          <span class="text">Q27. 臭いに鈍感な面がある</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeF" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>
        </li>
        <li class="textBox">
          <span class="text">Q28. 自分の思った通りに身体が動かない時がある</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeF" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>
        </li>
        <li class="textBox">
          <span class="text">Q29. 痛みに鈍感である</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeF" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>
        </li>
        <li class="textBox">
          <span class="text">Q30. 段差につまずくことがよくある</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeF" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>
        </li>
        <li class="textBox">
          <span class="text">Q31. 気配りが苦手である</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeG" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>
        </li>
        <li class="textBox">
          <span class="text">Q32. 集中力がなかなか持続しない</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeG" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>
        </li>
        <li class="textBox">
          <span class="text">Q33. 自分では忍耐力が無いほうだと思う</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeG" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>
        </li>
        <li class="textBox">
          <span class="text">Q34. １日の中でスマホやPCを見ている時間が結構ある</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeG" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>
        </li>
        <li class="textBox">
          <span class="text">Q35. YouTubeやドラマなど動画コンテンツをよく見る方だ</span>
          <div class="answer">
            <%= form_with(local: true) do |f| %>
              <%= f.radio_button :question, :yes, class: "typeG" %>
              <%= f.label :question, "YES" %>
              <%= f.radio_button :question, :no %>
              <%= f.label :question, "NO" %>
            <% end %>
          </div>
        </li>
      </ul>
      <button>診断する</button>
    </div>
    <div class="result ResultA" style="display: none;">
      <div class="Result_recommend">あなたもしかしたら、こんな目かも</div>
      <div class="Result_menu">
        <div class="Result_menu_text">【左上に目を動かすのが苦手】</div>
      </div>
      <p>Aそんなあなたにおススメのトレーニングはこちら</p>
      <div class="image">
        <%= image_tag("close-up-face-fashion-fine-looking-450212.jpg", width: "306px", class: "image") %>
      </div> 
      <p>テキスト</p>
      <div class="btn">
        <%= link_to "「眼トレ・メントレ・脳トレ」に興味を持った方はこちら", "#", class: "btn btn-info" %>
      </div>
    </div>
    <div class="result ResultB" style="display: none;">
      <div class="Result_recommend">あなたもしかしたら、こんな目かも</div>
      <div class="Result_menu">
        <div class="Result_menu_text">【右上に目を動かすのが苦手】</div>
      </div>
      <p>Bそんなあなたにおススメのトレーニングはこちら</p>
      <div class="image">
        <%= image_tag("men-s-white-button-up-dress-shirt-708440.jpg", width: "306px", class: "image") %>
      </div>
      <p>テキスト</p>
      <div class="btn">
        <%= link_to "「眼トレ・メントレ・脳トレ」に興味を持った方はこちら", "#", class: "btn btn-info" %>
      </div>
    </div>
    <div class="result ResultC" style="display: none;">
      <div class="Result_recommend">あなたもしかしたら、こんな目かも</div>
      <div class="Result_menu">
        <div class="Result_menu_text">【左側に目を動かすのが苦手】</div>
      </div>
      <p>Cそんなあなたにおススメのトレーニングはこちら</p>
      <div class="image">
        <%= image_tag("woman-wearing-teal-dress-sitting-on-chair-talking-to-man-2422280.jpg", width: "306px", class: "image") %>
      </div>
      <p>テキスト</p>
      <div class="btn">
        <%= link_to "「眼トレ・メントレ・脳トレ」に興味を持った方はこちら", "#", class: "btn btn-info" %>
      </div>
    </div>
    <div class="result ResultD" style="display: none;">
      <div class="Result_recommend">あなたもしかしたら、こんな目かも</div>
      <div class="Result_menu">
        <div class="Result_menu_text">【右側に目を動かすのが苦手】</div>
      </div>
      <p>Dそんなあなたにおススメのトレーニングはこちら</p>
      <div class="image">
        <%= image_tag("person-using-a-laptop-3183131.jpg", width: "306px", class: "image") %>
      </div>
      <p>テキスト</p>
      <div class="btn">
        <%= link_to "「眼トレ・メントレ・脳トレ」に興味を持った方はこちら", "#", class: "btn btn-info" %>
      </div>
    </div>
    <div class="result ResultE" style="display: none;">
      <div class="Result_recommend">あなたもしかしたら、こんな目かも</div>
      <div class="Result_menu">
        <div class="Result_menu_text">【左下に目を動かすのが苦手】</div>
      </div>
      <p>Eそんなあなたにおススメのトレーニングはこちら</p>
      <div class="image">
        <%= image_tag("person-using-a-laptop-3183131.jpg", width: "306px", class: "image") %>
      </div>
      <p>テキスト</p>
      <div class="btn">
        <%= link_to "「眼トレ・メントレ・脳トレ」に興味を持った方はこちら", "#", class: "btn btn-info" %>
      </div>
    </div>
    <div class="result ResultF" style="display: none;">
      <div class="Result_recommend">あなたもしかしたら、こんな目かも</div>
      <div class="Result_menu">
        <div class="Result_menu_text">【右下に目を動かすのが苦手】</div>
      </div>
      <p>Fそんなあなたにおススメのトレーニングはこちら</p>
      <div class="image">
        <%= image_tag("person-using-a-laptop-3183131.jpg", width: "306px", class: "image") %>
      </div>
      <p>テキスト</p>
      <div class="btn">
        <%= link_to "「眼トレ・メントレ・脳トレ」に興味を持った方はこちら", "#", class: "btn btn-info" %>
      </div>
    </div>
    <div class="result ResultG" style="display: none;">
      <div class="Result_recommend">あなたもしかしたら、こんな目かも</div>
      <div class="Result_menu">
        <div class="Result_menu_text">【近くを見たり、遠くを見るのが苦手】</div>
      </div>
      <p>Gそんなあなたにおススメのトレーニングはこちら</p>
      <div class="image">
        <%= image_tag("person-using-a-laptop-3183131.jpg", width: "306px", class: "image") %>
      </div>
      <p>テキスト</p>
      <div class="btn">
        <%= link_to "「眼トレ・メントレ・脳トレ」に興味を持った方はこちら", "#", class: "btn btn-info" %>
      </div>
    </div>
  </div>
</div>

<script src="index.js"></script>