<div class="container">
<div id="wrapper">
  <div class="question">
    <h1 class="title">「眼トレ・メントレ・脳トレ」かんたん診断</h1>
    <ul class="questions">
      <li class="textBox">
        <span class="text">Q1. 暗記科目が苦手だ</span>
        <label class="yes"><input class="typeA" name="q01" type="radio">YES</label>
        <label class="no"><input name="q01" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q2. 昨日の晩御飯が思い出せないことがある</span>
        <label class="yes"><input class="typeA" name="q02" type="radio">YES</label>
        <label class="no"><input name="q02" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q3. 高校時代の修学旅行先を思い出すのに時間がかかる</span>
        <label class="yes"><input class="typeA" name="q03" type="radio">YES</label>
        <label class="no"><input name="q03" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q4. 学生時代の給食にはどんなメニューがあったか思い出すことが困難である</span>
        <label class="yes"><input class="typeA" name="q04" type="radio">YES</label>
        <label class="no"><input name="q04" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q5. 学生時代の友達とハマっていた遊び・事柄を思い出すことが難しい</span>
        <label class="yes"><input class="typeA" name="q05" type="radio">YES</label>
        <label class="no"><input name="q05" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q6. スケジューリングが苦手だ</span>
        <label class="yes"><input class="typeB" name="q06" type="radio">YES</label>
        <label class="no"><input name="q06" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q7. 将来像をイメージするのが苦手だ</span>
        <label class="yes"><input class="typeB" name="q07" type="radio">YES</label>
        <label class="no"><input name="q07" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q8. 創造力は無い方だと思う</span>
        <label class="yes"><input class="typeB" name="q08" type="radio">YES</label>
        <label class="no"><input name="q08" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q9. 物事をアレンジするのは不得意である</span>
        <label class="yes"><input class="typeB" name="q09" type="radio">YES</label>
        <label class="no"><input name="q09" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q10. 友達や同僚に本当のことを言えないことがある</span>
        <label class="yes"><input class="typeB" name="q10" type="radio">YES</label>
        <label class="no"><input name="q10" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q11. 会話の内容が思い出せないことがよくある</span>
        <label class="yes"><input class="typeC" name="q11" type="radio">YES</label>
        <label class="no"><input name="q11" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q12. 何回同じこと言わすの？と言われたことがある</span>
        <label class="yes"><input class="typeC" name="q12" type="radio">YES</label>
        <label class="no"><input name="q12" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q13. 校歌のリズムを思い出すのに時間がかかる</span>
        <label class="yes"><input class="typeC" name="q13" type="radio">YES</label>
        <label class="no"><input name="q13" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q14. 擬音語を使うことが多い</span>
        <label class="yes"><input class="typeC" name="q14" type="radio">YES</label>
        <label class="no"><input name="q14" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q15. どちらかというと新曲を覚えるのは苦手である</span>
        <label class="yes"><input class="typeC" name="q15" type="radio">YES</label>
        <label class="no"><input name="q15" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q16. 学校のチャイムがエレキギターだったら？など想像する事が苦手だ</span>
        <label class="yes"><input class="typeD" name="q16" type="radio">YES</label>
        <label class="no"><input name="q16" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q17. 音でびっくりする事が多い</span>
        <label class="yes"><input class="typeD" name="q17" type="radio">YES</label>
        <label class="no"><input name="q17" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q18. 即興で替え歌を作るのは難しい</span>
        <label class="yes"><input class="typeD" name="q18" type="radio">YES</label>
        <label class="no"><input name="q18" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q19. 言葉の裏を読み取るのが難しい</span>
        <label class="yes"><input class="typeD" name="q19" type="radio">YES</label>
        <label class="no"><input name="q19" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q20. 自分のテーマソングを作るとなったら、どんな感じかなかなか思い浮かばない</span>
        <label class="yes"><input class="typeD" name="q20" type="radio">YES</label>
        <label class="no"><input name="q20" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q21. 何度も同じ言葉を繰り返して言ってしまう傾向がある</span>
        <label class="yes"><input class="typeE" name="q21" type="radio">YES</label>
        <label class="no"><input name="q21" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q22. 心の中で独り言をよく言っている</span>
        <label class="yes"><input class="typeE" name="q22" type="radio">YES</label>
        <label class="no"><input name="q22" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q23. 自分との対話（内省）が苦手である</span>
        <label class="yes"><input class="typeE" name="q23" type="radio">YES</label>
        <label class="no"><input name="q23" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q24. 同じ失敗をよくすることがある</span>
        <label class="yes"><input class="typeE" name="q24" type="radio">YES</label>
        <label class="no"><input name="q24" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q25. 前回の失敗から学んで次に生かすことが苦手である</span>
        <label class="yes"><input class="typeE" name="q25" type="radio">YES</label>
        <label class="no"><input name="q25" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q26. どちらかというとゆっくり話すタイプである</span>
        <label class="yes"><input class="typeF" name="q26" type="radio">YES</label>
        <label class="no"><input name="q26" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q27. 臭いに鈍感な面がある</span>
        <label class="yes"><input class="typeF" name="q27" type="radio">YES</label>
        <label class="no"><input name="q27" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q28. 自分の思った通りに身体が動かない時がある</span>
        <label class="yes"><input class="typeF" name="q28" type="radio">YES</label>
        <label class="no"><input name="q28" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q29. 痛みに鈍感である</span>
        <label class="yes"><input class="typeF" name="q29" type="radio">YES</label>
        <label class="no"><input name="q29" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q30. 段差につまずくことがよくある</span>
        <label class="yes"><input class="typeF" name="q30" type="radio">YES</label>
        <label class="no"><input name="q30" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q31. 気配りが苦手である</span>
        <label class="yes"><input class="typeG" name="q31" type="radio">YES</label>
        <label class="no"><input name="q31" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q32. 集中力がなかなか持続しない</span>
        <label class="yes"><input class="typeG" name="q32" type="radio">YES</label>
        <label class="no"><input name="q32" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q33. 自分では忍耐力が無いほうだと思う</span>
        <label class="yes"><input class="typeG" name="q33" type="radio">YES</label>
        <label class="no"><input name="q33" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q34. １日の中でスマホやPCを見ている時間が結構ある</span>
        <label class="yes"><input class="typeG" name="q34" type="radio">YES</label>
        <label class="no"><input name="q34" type="radio">NO</label>
      </li>
      <li class="textBox">
        <span class="text">Q35. YouTubeやドラマなど動画コンテンツをよく見る方だ</span>
        <label class="yes"><input class="typeG" name="q35" type="radio">YES</label>
        <label class="no"><input name="q35" type="radio">NO</label>
      </li>
    </ul>
    <button>診断する</button>
  </div>
  <div class="result ResultA" style="display: none;">
    <div class="Result__recommend">あなたもしかしたら、こんな目かも</div>
    <div class="Result__menu">
      <div class="Result__menu__text">【左上に目を動かすのが苦手】</div>
    </div>
    <p>Aそんなあなたにおススメのトレーニングはこちら</p>
    <div class="image">
      <%= image_tag("close-up-face-fashion-fine-looking-450212.jpg", width: "306px", class: "image") %>
    </div> 
    <div class="btn">
      <%= link_to "「眼トレ・メントレ・脳トレ」に興味を持った方はこちら", "#", class: "btn btn-info" %>
    </div>
  </div>
  <div class="result ResultB" style="display: none;">
    <div class="Result__recommend">あなたもしかしたら、こんな目かも</div>
    <div class="Result__menu">
      <div class="Result__menu__text">【右上に目を動かすのが苦手】</div>
    </div>
    <p>Bそんなあなたにおススメのトレーニングはこちら</p>
    <div class="image">
      <%= image_tag("men-s-white-button-up-dress-shirt-708440.jpg", width: "306px", class: "image") %>
    </div>
    <div class="btn">
      <%= link_to "「眼トレ・メントレ・脳トレ」に興味を持った方はこちら", "#", class: "btn btn-info" %>
    </div>
  </div>
  <div class="result ResultC" style="display: none;">
    <div class="Result__recommend">あなたもしかしたら、こんな目かも</div>
    <div class="Result__menu">
      <div class="Result__menu__text">【左側に目を動かすのが苦手】</div>
    </div>
    <p>Cそんなあなたにおススメのトレーニングはこちら</p>
    <div class="image">
      <%= image_tag("woman-wearing-teal-dress-sitting-on-chair-talking-to-man-2422280.jpg", width: "306px", class: "image") %>
    </div>
    <div class="btn">
      <%= link_to "「眼トレ・メントレ・脳トレ」に興味を持った方はこちら", "#", class: "btn btn-info" %>
    </div>
  </div>
  <div class="result ResultD" style="display: none;">
    <div class="Result__recommend">あなたもしかしたら、こんな目かも</div>
    <div class="Result__menu">
      <div class="Result__menu__text">【右側に目を動かすのが苦手】</div>
    </div>
    <p>Dそんなあなたにおススメのトレーニングはこちら</p>
    <div class="image">
      <%= image_tag("person-using-a-laptop-3183131.jpg", width: "306px", class: "image") %>
    </div>
    <div class="btn">
      <%= link_to "「眼トレ・メントレ・脳トレ」に興味を持った方はこちら", "#", class: "btn btn-info" %>
    </div>
  </div>
  <div class="result ResultE" style="display: none;">
    <div class="Result__recommend">あなたもしかしたら、こんな目かも</div>
    <div class="Result__menu">
      <div class="Result__menu__text">【左下に目を動かすのが苦手】</div>
    </div>
    <p>Eそんなあなたにおススメのトレーニングはこちら</p>
    <div class="image">
      <%= image_tag("person-using-a-laptop-3183131.jpg", width: "306px", class: "image") %>
    </div>
    <div class="btn">
      <%= link_to "「眼トレ・メントレ・脳トレ」に興味を持った方はこちら", "#", class: "btn btn-info" %>
    </div>
  </div>
  <div class="result ResultF" style="display: none;">
    <div class="Result__recommend">あなたもしかしたら、こんな目かも</div>
    <div class="Result__menu">
      <div class="Result__menu__text">【右下に目を動かすのが苦手】</div>
    </div>
    <p>Fそんなあなたにおススメのトレーニングはこちら</p>
    <div class="image">
      <%= image_tag("person-using-a-laptop-3183131.jpg", width: "306px", class: "image") %>
    </div>
    <div class="btn">
      <%= link_to "「眼トレ・メントレ・脳トレ」に興味を持った方はこちら", "#", class: "btn btn-info" %>
    </div>
  </div>
  <div class="result ResultG" style="display: none;">
    <div class="Result__recommend">あなたもしかしたら、こんな目かも</div>
    <div class="Result__menu">
      <div class="Result__menu__text">【近くを見たり、遠くを見るのが苦手】</div>
    </div>
    <p>Gそんなあなたにおススメのトレーニングはこちら</p>
    <div class="image">
      <%= image_tag("person-using-a-laptop-3183131.jpg", width: "306px", class: "image") %>
    </div>
    <div class="btn">
      <%= link_to "「眼トレ・メントレ・脳トレ」に興味を持った方はこちら", "#", class: "btn btn-info" %>
    </div>
  </div>
</div>
</div>

<script src="index.js"></script>