<div id="new-edit">
  <%= form_with(model: @diagnosis_result, local: true) do |f| %>
    <!--%= render 'shared/error_messages', object: @diagnosis %>-->

    <%= f.label :result_type, class: "label-#{yield(:class_text)}" %>
    <%= f.select :result_type, ['ResultA', 'ResultB', 'ResultC', 'ResultD', 'ResultE', 'ResultF', 'ResultG'], {include_blank: true }, { class: 'form-control' } %>

    <%= f.label :result_text, class: "label-#{yield(:class_text)}" %>
    <%= f.text_field :result_text, class: "form-control" %>

    <%= f.label :result_pictute, class: "label-#{yield(:class_text)}" %>
    <%= f.file_field :result_pictute, class: "form-control" %>

    <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
    <%= link_to "キャンセル", diagnosis_results_path, class: "btn btn-dark" %>
  <% end %>
</div>  