<!-- ナビメニュー -->
<nav class="NavMenu">
  <ul>
    <% if user_signed_in? %>
      <li><%= link_to "TOP", root_path %></li>
      <li><%= link_to "管理者画面", user_path(current_user) %></li>
      <li><%= link_to '管理者情報編集', edit_user_registration_path %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "TOP", root_path %></li>
      <li><%= link_to "管理者ログイン", new_user_session_path %></li>
    <% end %>
  </ul>
</nav>

<!-- メニュー -->
<div class="Toggle">
<span class="toggle-span"></span>
<span></span>
<span></span>
</div>

<script>
  $(function () {
    $('.Toggle').click(function () {
      $(this).toggleClass('active');

      if ($(this).hasClass('active')) {  $('.NavMenu').addClass('active');  $('.NavMenu').fadeIn(500);
      } else {  $('.NavMenu').removeClass('active');  $('.NavMenu').fadeOut(500);
      }
    });

    $('.navmenu-a').click(function () {
      $('.NavMenu').removeClass('active');
      $('.NavMenu').fadeOut(1000);
      $('.Toggle').removeClass('active');
    });
  });
</script>
